@bg-color: #abcdef;
@bedrm-color: #123456;
@city-color: #ADADAA;

.animations (@param) {
  -webkit-animation: @param;
  -moz-animation: @param;
  -ms-animation: @param;
  -o-animation: @param;
  animation: @param;
}

.animation-delay (@param) {
    -webkit-animation-delay: @param;
    -moz-animation-delay: @param;
    -ms-animation-delay: @param;
    -o-animation-delay: @param;
    animation-delay: @param;
}

.animation-state (@param) {
     -webkit-animation-play-state:@param;
     -moz-animation-play-state:@param;
     -ms-animation-play-state:@param;
     -o-animation-play-state:@param;
     animation-play-state:@param;
}

* {
margin: 0;
padding: 0;    
}

body {
background-color: @bg-color;
font-family: Arial, "MS Trebuchet", sans-serif;
font-size: 100%;
}
.clear {
    clear:both;
}
h2 {
    em {
        display: block;
        font-style: normal;
    }
}

div {
    text-align: center;
    
    &.title {
        display: none;
        .meng-logo {
            height:30px;
            width:30px;
            background-color:#fff;
            margin:10px auto 0 auto;
/*          margin:top right bottom left;*/
        }
    }
    
    &.bedroom {
        display: none;
        background-color: @bedrm-color;
        padding-top: 20px;
        color: white;
    }
    
    &.city {
        height:300px;
        position: relative;
        overflow: hidden;
        background-color: @city-color; 
    }
}

.mike-ani {
    height: 147px;
    width: 100px;
    background: transparent url('../img/mikesleep-sprite.png') no-repeat 0 0;
    background-size: cover;
    margin: auto;
    .animations(sleep 1s steps(2, end) infinite alternate);
}

.mike-walk {
    height: 243px;
    width: 160px;
    background: transparent url('../img/mikewalk.png') no-repeat 0 0;
    background-size: cover;
    position: absolute; 
    bottom:0;
    left:-160px;
    z-index:100;
    .animations(step 1s steps(4) infinite, walk 15s linear infinite;);
        
        &.two {
            z-index:0;
            .animations(step 1s steps(4) infinite, walk 7s linear infinite;);
            .animation-delay(3s);

            &:hover {
                .animation-state(paused);
            }
        }
}

@-webkit-keyframes step {.step-frames;}
@-moz-keyframes step {.step-frames;}
@-ms-keyframes step {.step-frames;}
@-o-keyframes step {.step-frames;}
@keyframes step {.step-frames;}

@-webkit-keyframes walk {.walk-frames;}
@-moz-keyframes walk {.walk-frames;}
@-ms-keyframes walk {.walk-frames;}
@-o-keyframes walk {.walk-frames;}
@keyframes walk {.walk-frames;}

@-webkit-keyframes sleep {.sleep-frames;}
@-moz-keyframes sleep {.sleep-frames;}
@-ms-keyframes sleep {.sleep-frames;}
@-o-keyframes sleep {.sleep-frames;}
@keyframes sleep {.sleep-frames;}


.step-frames () {
    0% { background-position:0 0; }
    100% { background-position:0 -972px; }
}
.walk-frames () {
    0% { left:-10%;}
    100% { left:105%; }
}
.sleep-frames {
  0% { background-position:0 0px; }
   100% { background-position:0 -294px; }
}