* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #abcdef;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 100%;
}
.clear {
  clear: both;
}
h2 em {
  display: block;
  font-style: normal;
}
div {
  text-align: center;
}
div.title {
  display: none;
}
div.title .meng-logo {
  height: 30px;
  width: 30px;
  background-color: #fff;
  margin: 10px auto 0 auto;
  /*          margin:top right bottom left;*/

}
div.bedroom {
  display: none;
  background-color: #123456;
  padding-top: 20px;
  color: white;
}
div.city {
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #adadaa;
}
.mike-ani {
  height: 147px;
  width: 100px;
  background: transparent url('../img/mikesleep-sprite.png') no-repeat 0 0;
  background-size: cover;
  margin: auto;
  -webkit-animation: sleep 1s steps(2, end) infinite alternate;
  -moz-animation: sleep 1s steps(2, end) infinite alternate;
  -ms-animation: sleep 1s steps(2, end) infinite alternate;
  -o-animation: sleep 1s steps(2, end) infinite alternate;
  animation: sleep 1s steps(2, end) infinite alternate;
}
.mike-walk {
  height: 243px;
  width: 160px;
  background: transparent url('../img/mikewalk.png') no-repeat 0 0;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: -160px;
  z-index: 100;
  -webkit-animation: step 1s steps(4) infinite, walk 15s linear infinite;
  -moz-animation: step 1s steps(4) infinite, walk 15s linear infinite;
  -ms-animation: step 1s steps(4) infinite, walk 15s linear infinite;
  -o-animation: step 1s steps(4) infinite, walk 15s linear infinite;
  animation: step 1s steps(4) infinite, walk 15s linear infinite;
}
.mike-walk.two {
  z-index: 0;
  -webkit-animation: step 1s steps(4) infinite, walk 7s linear infinite;
  -moz-animation: step 1s steps(4) infinite, walk 7s linear infinite;
  -ms-animation: step 1s steps(4) infinite, walk 7s linear infinite;
  -o-animation: step 1s steps(4) infinite, walk 7s linear infinite;
  animation: step 1s steps(4) infinite, walk 7s linear infinite;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}
.mike-walk.two:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
@-webkit-keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -972px;
  }
}
@-moz-keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -972px;
  }
}
@-ms-keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -972px;
  }
}
@-o-keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -972px;
  }
}
@keyframes step {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -972px;
  }
}
@-webkit-keyframes walk {
  0% {
    left: -10%;
  }
  100% {
    left: 105%;
  }
}
@-moz-keyframes walk {
  0% {
    left: -10%;
  }
  100% {
    left: 105%;
  }
}
@-ms-keyframes walk {
  0% {
    left: -10%;
  }
  100% {
    left: 105%;
  }
}
@-o-keyframes walk {
  0% {
    left: -10%;
  }
  100% {
    left: 105%;
  }
}
@keyframes walk {
  0% {
    left: -10%;
  }
  100% {
    left: 105%;
  }
}
@-webkit-keyframes sleep {
  0% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 -294px;
  }
}
@-moz-keyframes sleep {
  0% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 -294px;
  }
}
@-ms-keyframes sleep {
  0% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 -294px;
  }
}
@-o-keyframes sleep {
  0% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 -294px;
  }
}
@keyframes sleep {
  0% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 -294px;
  }
}
.sleep-frames 0% {
  background-position: 0 0px;
}
.sleep-frames 100% {
  background-position: 0 -294px;
}
